{% load avatar_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Centro Perez</title>
    <style>
        * {
          box-sizing: border-box;
        }
        .column {
            float: left;
        }
        .left {
            width: 25%;
        }

        .right {
            width: 75%;
        }
        .left2 {
            width: 75%;
        }

        .right2 {
            width: 25%;
        }

        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="column left2">
            <h1>Página del centro médico Pérez.</h1>
            <h3 style="font-family:verdana;"><i>Tu lugar en la salud</i></h3>
        </div>
        <div class="column right2">
            {% if request.user.is_authenticated %}
                <div class="d-flex flex-column align-items-end">
                    <p style="font-family:verdana;"><b>Usuario/a:</b> {{request.user.username}}  </p>
                    {% avatar user %}
                    <a class="nav-link active" aria-current="page" href="{% url 'modificar_contrasena' %}" style="font-size:11px">
                        Cambiar contraseña
                    </a>
                    <a class="nav-link active" aria-current="page" href="{% url 'crear_avatar' %}" style="font-size:11px">
                        Cambiar avatar
                    </a>
                    <a class="nav-link active" aria-current="page" href="{% url 'bandeja_de_entrada' %}" style="font-size:11px">
                        Bandeja de mensajes
                    </a>
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}"  style="font-size:11px"> 
                        Cerrar sesión
                    </a>
                </div>
            {% else %}
                <div class="d-flex flex-column align-items-end">
                    <p>{{request.user.username}}</p>
                    <a class="nav-link active" aria-current="page" href="{% url 'iniciar_sesion' %}">Iniciar sesión</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="column left",  style="background-color:#D0DCE7;">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'pagina_base' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'formulario_lista' %}">Insertar nuevos datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'informe_lista' %}">Ver listas de datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'buscar_lista' %}"> Búsqueda </a>
                </li>

            </ul>
        </div>
        <div class="column right",  style="background-color:#1F8EEA;"">
            
            {% block  contenido%}
            <h1>Bienvenido/a al Centro Médico Perez.</h1>
            {% endblock %}
        </div>
    </div>
    
    
</body>
</html>
